extends layout/layout

block title
   title Yoga
   
block content
   article.wrapper
      include includes/header.pug
         
      main.content
         article.preview
            section.container
               section.preview__wrap
                  section.preview__form
                     form.form
                        h2.title.title--form Trial Class
                        section.form__inputs
                           label.label.label--trial.form__item(for="name")
                              input.input.input--trial(type="text" placeholder="Enter your name" id="name")
                           label.label.label--trial.form__item(for="phone")
                              input.input.input--trial(type="tel" placeholder="Enter your phone" id="phone")
                           section.select.select--trial.form__item
                              span.select__item Chose your class
                           button.btn.btn--form-trial Try it
                  section.preview__title-wrap
                     h1.title.title--page Just Balance <br> your Mind & Body
                     span.subtitle.subtitle--page Create the healthy living <br> for yourself
                     
         article.program
            section.container
               section.program__wrap
                  h2.title.title--section Yoga FEATURE PROGRAM
                  span.subtitle.subtitle--section Our Classes
               section.wrap.wrap--program
                  
                  - const classTitle = ['Yoga For Health', 'Yoga For Lose Weight', 'Yoga For Children', 'Yoga For Elderly'];
                  - for (let i = 0; i < classTitle.length; i++)
                     article.class
                        section.wrap.wrap--img-class
                           img.img.img--class(src=`../img/class-${i+1}.jpg` alt=`class-${i+1}`)
                        section.class__info
                           h3.class__title=classTitle[i]
                           p.class__descrip Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                           span.class__span Ashtanga - Hatha
                           
         article.gallery
            
            - for (let i = 0; i < 8; i++)
            
               a.wrap.wrap--img-photo(href="#")
                  img.img.img--photo(src=`../img/photo-${i+1}.jpg` alt=`photo-${i+1}`)
                     
         article.about-us
            section.container
               article.about-us__wrap
                  section.about-us__data
                     h3.about-us__title About us
                     p.about-us__descrip Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor it in lorei voluptate velit esse cillum dolore eu fugiat nulla pariatur lorem ispum loting sokui.
                  section.slider.slider--about-us
                     section.slider__item
                        img.img.img--slider(src="../img/slide-1.jpg" alt="slide-1")
                     section.slider__control
                        span.slider__arrow.slider__arrow--prev
                        span.slider__arrow.slider__arrow--next
